.transactions{
    flex:5 ;
    
}

.statusPaid {
    color: green;
    font-weight: bold;
  }
  
  .statusUnpaid {
    color: red;
    font-weight: bold;
  }


.statusMethodOne{
  color: orange;
  font-weight: bold;
}

.statusMethodTwo{
  color: blue;
  font-weight: bold;
  
}

.custom-header {

  font-weight: bold;
  font-size: 18px;
}
