.customercontainer{
    flex:5;
    display: flex;
    flex-direction: column;
    
}

.customerList{
    display: flex;
    align-items: center;
    padding: 5px;
}
.customerListImageContainer{
    margin-right: 10px;
   
}

.customerListImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.customerListNameContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}


.userListAction{
    display: flex;
    align-items: center;
    
}

.userListEdit{
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin:10px 10px;
}

.userListDelete{
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    color:red;
    cursor: pointer;
}

.table-header{
    justify-content: center;
    align-items: center;
    margin: 20px;
}

  