.returns {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    flex:5;
  }
  
  .returns-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .returns-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .returns-table th,
  .returns-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .returns-table th {
    background-color: #d6f9ac;
    
  }
  
  .returns-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .no-returns {
    text-align: center;
    color: #888;
    font-style: italic;
  }
  