.topbar{
    width:100%;
    height: 50px;
    background-color: #3BBE1A;
    position: sticky;
    top:0px;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.logo2{
    font-weight: bold;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topBarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right:10px;
    color: rgba(0, 0, 0, 0.51);
}

.topIconBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    top:-5px;
    right: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topAvatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
}