.pcontainer{
    flex:5;
 
}


.productListuser{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productListAction{
    display: flex;
    align-items: center;
    
}

.productListEdit{
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin:10px 10px;
}

.productListDelete{
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    color:red;
    cursor: pointer;
}

.newpcontainer{
    display: flex;
    justify-content: start;
    
}

.table-header-product{
    justify-content: space-between;
    margin: 20px;
    display: flex;

}
.product-button{
    border:none;
    border-radius: 10px;
    padding:5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
   
}

.pbutton{
    margin-left: 25px;
    font-weight: 800;
}

.scale{
    justify-content: center;   
}