.grocery-container{
    flex:5;

}

.title{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.select-container{
    display: flex;
    flex-direction: column;
    margin:0 100px;
}
.chart-container{
    margin-top: 10px;
    padding: 10px;
}
.data-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table-container th, .data-table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table-container th {
    background-color: #f2f2f2;
  }
  

.select-container label{
    font-size: 18px;

}

.select-container select{
    color: gray;
    font-size: 15px;
}
.chart-container h2{
    margin-left: 50px;
    margin-bottom: 20px;
}

.buttonPdf{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.generate-pdf-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    font-size: 16px;
  }
  
  .generate-pdf-button:hover {
    background-color: #45a049;
  }
  