/* 
.grocery-container {
    flex: 5;
    background-color: #f7f7f7;
    border-radius: 8px; 
}

.title {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}


.select-container {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: #E6FFCF;
    align-items: center;
    justify-content: center;
}


.select-container label {
    font-size: 17px;
    color: #555;
    margin-right: 50px;
    

}


.select-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    max-width: 400px; 
    box-sizing: border-box; 
    cursor: pointer;
}

.chart-container {
    padding: 20px;
    margin: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.grocery-viewer {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 50px; 

} */

.grocery-container{
    flex:5;

}

.title{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.select-container{
    display: flex;
    flex-direction: column;
    margin:0 100px;
}
.chart-container{
    margin-top: 10px;
    padding: 10px;
}

.select-container label{
    font-size: 18px;

}

.select-container select{
    color: gray;
    font-size: 15px;
}
.chart-container h2{
    margin-left: 50px;
    margin-bottom: 20px;
}