
  /* Container Styles */
  .newCustomer {
    flex:4;
    padding: 20px;
  }
  
  /* .newCustomertitle {
    font-size: 24px;
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 20px;
    text-align: center;
  } */
  
  /* Form Styles */
  .newCustomerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 0px 40px;
  }
  
  .newCustomerItem {
    display: flex;
    flex-direction: column;
  }
  
  .newCustomerItem label {
    margin-bottom: 8px;
    font-weight: 600;
    color: gray;
  }
  
  .newCustomerItem input,
  .newCustomerItem select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .newCustomerItem input:focus,
  .newCustomerItem select:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  /* Membership Select Styling */
  .memebership {
    background-color: #f0f8ff; /* Light blue background */
    color: #333;
  }
  
  .memebership option {
    color: #333;
    background-color: #f0f8ff;
  }
  
  .memebership option[value="active"] {
    background-color: #d1e7dd; /* Light green for Active */
  }
  
  .memebership option[value="inactive"] {
    background-color: #f8d7da; /* Light red for Inactive */
  }
  
  /* Responsive Design */
  /* @media (max-width: 768px) {
    .newCustomer {
      padding: 15px;
    }
  
    .newCustomertitle {
      font-size: 20px;
    }
  
    .newCustomerItem input,
    .newCustomerItem select {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .newCustomer {
      margin: 20px;
    }
  
    .newCustomerItem {
      gap: 15px;
    }
  
    .newCustomertitle {
      font-size: 18px;
    }
  }
   */
   .newCustomerButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   }  

   .newCustomerButton{
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color:#3bb077;
    color: white;
    font-weight: 600;
    width: 100px;
    margin: 0 auto;
   }