.features{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;

}

.featuredItem{
    flex:1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
}

.featuredTitle{
    font-size: 20px;
    font-weight: 600;
}

.moneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.money{
    font-size: 30px;
    font-weight: 600;
}

.moneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 24px !important;
    color: green;
    margin-left: 5px;
}

.featuredIcon.negative{
    font-size: 24px !important; 
    color: red;
    margin-left: 5px;
}

.featuredSub{
    font-size: 15px;
    color: grey;
}