.widgetSm{
    flex:1;
    padding: 20px;
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
    margin-right:20px;
}

.widgetSmTitle{
    font-size: 25px;
    font-weight: 600;
    

}

.widgetSmImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.widgetSmListItem{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
    margin-right: 10px;

}

.widgetSmUserGender{
    font-size: 15px;
    color: gray;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding:7px 10px;
    color:#555;
    cursor: pointer;
}