.notificationWrapper {
    position: relative;
    flex: 5;
  }
  
  .notificationIcon {
    position: relative;
    cursor: pointer;
  }
  
  .redDot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  
  .notificationMenu {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
  }
  
  .notificationMenu h4 {
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .notificationItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notificationItem:last-child {
    border-bottom: none;
  }
  
  .notificationItem.low-stock {
    background-color: #ffebee;
  }
  
  .notificationItem.expiring {
    background-color: #fff8e1;
  }
  
  .notificationItem p {
    margin: 0;
    font-size: 0.9rem;
  }
  