.container {
    display: flex;
}

.others{
    flex:4;
    background-color: cyan;
}

.scalecontainer{
    flex:5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-header {
    font-weight: bold;
    font-size: 16px;
   
  }
  